// Specific CSS for your home-page
.button-style {
  background-color: #5C8984;
  border-radius: 10px;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
}

.center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 10px;
}


nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #0056b3;
}

.sign-up-button{
  background-color: #5C8984;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
}

.home-info {
  display: flex;
}

.item {
  flex-grow: 1;
}

.homepage-info {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.about-us {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
