.new-member-form {
  width: 997px;
  height: 1030px;
  flex-shrink: 0;
  background:  #545B77;
  text-align: left;
  margin: auto;
}

.new_member_page {
width: 1728px;
height: 1117px;
background:  #545B77;
text-align: left;
}

.member_input {
  margin: 15px;
  width: 407px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 15px;
  background: var(--Light-Grey, #DDD);
}

.select-project {
  display: grid;
  justify-content: start;
  justify-items: center;
}

.button-right-corner {
  margin-top: 0px;
  float: right;
  margin-right: 4%;
}

.form-header {
  margin-bottom: 55px;
}

.upload-photo {
  color: #374259;
  border: 1px solid #d3d3d3;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: #EAB2A0;
  border-radius: 100px;
}
