.body {
  background-color: #545B77;
  h1, h2, h3, h4, h5 {
    font-family: 'Jost', sans-serif;
  }
}

.container-projects {
  width: 95%;
  //overflow: hidden;
  margin: 0 auto;
  // padding-left: 50px;
  // padding-right: 50px;
  //flex-wrap: wrap;
  justify-content: center;
  //padding: 40px calc((100% - (255px * 3)) / 2);
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-gap: 16px;
  // margin: 20px;
  // padding: 40px calc((100% - (255px * 3)) / 2);
}
