.team-member-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 15px;
    row-gap: 25px;
}

#capacity-card {
  color: white;
  width: 745px;
  height: auto;
  flex-shrink: 0;
  border-radius: 20px;
  background: #1F2533;
  border: 1px solid #1F2533;
  text-align: center;
  padding: 20%;
}

.container-team {
  width: 1400px;
  margin: 0 auto;
}

.photo-title {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 15px;
  align-items: center;
}

.member-title-card {
  width: 345px;
  height: 189px;
  padding: 15px;
}

.weekday-grid {
  width: 1338px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 80px;
  margin-top: 65px;
  margin-bottom: 65px;
}

.weekday-card {
  width: 214px;
  height: auto;
  align-items: center;
  text-align: center;
  background: #1F2533;;
  border-radius: 10px;
  padding: 20px;
  border-color: black;
  border: 1px solid #1F2533;
}

.container-white {
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 15px;
  background: #DDD;
}

.member-project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-right: 40px;
  padding-left: 150px;
  padding-bottom: 40px;
}

.member-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
