// .container {
//   background-color: #545B77;
//   margin: 0 auto;
//  // border: 2px solid gray;
//   // box-shadow: 2px 4px 10px #5C8984;
//   color: white;
//   border-radius: 25px;
//   // overflow: hidden;
// }
.show-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.project-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.widgets-side {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.show-widgets {
    background-color: #545B77;
    // height: 100px;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 35px;
    h4 {
      color: white;
      font-family: 'Jost', sans-serif;
    }
}

.show-widgets-team {
  display: flex;
  background-color: #545B77;
  padding-top: 14px;
  padding-left: 14px;
  border-radius: 20px;
  width: 400px;
  font-size: 14px;
  border-color: #1F2533;
}

.show-widgets-milestone {
  background-color: #5C8984;
  padding: 30px;
  border-radius: 20px;
  h4 {
    color: white;
    font-family: 'Jost', sans-serif;
  }
}

.deadpriority {
    display: flex;
    align-items: baseline;
}

.asana-task {
  display: flex;
  list-style: none;
  padding: 10px;
  flex-direction: column;
  padding-left: 45px;
}

.assign-mem {
  list-style: none;
}

.chart-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

// .jadid {
//   background-color: #5C8984;
//   border: 2px solid gray;
//   margin-top: 15px;
//   box-shadow: 2px 4px 10px reddish;
//   padding: 10px;
//   border-radius: 15px 50px;
// }
// .projectinfo {
//     display: flex;
//     // width: 300px;
// }

// .projectinfoleft {
//     background-color: #F5E9CF;
//     width: 200px;
//     height: 200px;
// }

.cards_buttom {
    width: 700px;
    background-color: #545B77;
    margin: 0 auto;
}

// .project_info_middle {
//     background-color: #5C8984;
//     width: 300;
// }

// .project_info_right {
//     background-color: #EAB2A0;
//     width: 200px;
//     height: 300 px;
//     opacity: 0.9;
// }

// .item {
//     font-family: "Open Sans";
//     font-weight:  "Bold 700";
// }

.team-members {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    a {
      text-decoration: none;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 12px;
}

#chart-1 {
  width: 300px;
}

.pie-tasks {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
}

.edit-name {
  display: flex;
  align-items: center;
}

.show-info {
  h2 {
    color: #1F2533;
    font-family: 'Jost', sans-serif;
    font-size: 44px;
  }

  p {
    color: #1F2533;
  }
}

.form-check-label {
  color: #1F2533;
}

.show-padding {
  padding: 50px 0 50px;
}

.project-refresh {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 0px 100px 0px;
  padding-top: 15px;
    h3 {
      color: #1F2533;
      font-family: 'Jost', sans-serif;
      font-size: 30px;
    }
}

.task-title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 26px;
}

.task-hours {
  display: flex;
}

.progress-width {
  width: 100%;
}

.completed-check {
  color: #1F2533;
}
