// .container {
//   background-color: #545B77;
//   margin: 0 auto;
//  // border: 2px solid gray;
//   // box-shadow: 2px 4px 10px #5C8984;
//   color: white;
//   border-radius: 25px;
//   // overflow: hidden;
// }
.show-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.project-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.widgets-side {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.show-widgets {
    background-color: #374259;
    // height: 100px;
    padding: 14px;
    border-radius: 20px;
    h4 {
      color: #F5E9CF;
    }
}

.show-widgets-milestone {
  background-color: #5C8984;
  padding: 14px;
  border-radius: 20px;
  h4 {
    color: #F5E9CF;
  }
}

.deadpriority {
    display: flex;
    align-items: baseline;
}

.asana-task {
  display: flex;
  justify-content: space-around;
  list-style: none;
  background-color: #545B77;
  padding: 10px;
  border-radius: 15px;
}

.assign-mem {
  list-style: none;
}

// .jadid {
//   background-color: #5C8984;
//   border: 2px solid gray;
//   margin-top: 15px;
//   box-shadow: 2px 4px 10px reddish;
//   padding: 10px;
//   border-radius: 15px 50px;
// }
// .projectinfo {
//     display: flex;
//     // width: 300px;
// }

.projectinfoleft {
    background-color: #F5E9CF;
    width: 200px;
    height: 200px;
}

.cards_buttom {
    width: 700px;
    background-color: #545B77;
    margin: 0 auto;
}

.project_info_middle {
    background-color: #5C8984;
    width: 300;
}

.project_info_right {
    background-color: #EAB2A0;
    width: 200px;
    height: 300 px;
    opacity: 0.9;
}

// .item {
//     font-family: "Open Sans";
//     font-weight:  "Bold 700";
// }
.team-members {
    list-style-type: none;
}
