// h1, h2, h3 {
//   text-shadow: 2px 2px 5px black;
// }

.container {
  width: 700px;
  margin: 0 auto;
 // border: 2px solid gray;
  // box-shadow: 2px 4px 10px #5C8984;
  color: white;
  // font-family: "Roboto";
}

.show-header {
  display: flex;
  align-items: center;
}

.project-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.show-widgets {
  background-color: #374259;
  // height: 100px;
  padding: 14px;
  border-radius: 20px;
}

.deadpri {
  display: flex;
  align-items: baseline;
}

.jadid {
  background-color: #5C8984;
  padding: 10px;
}
.projectinfo {
    display: flex;
    width: 300px;
}

.projectinfoleft {
  background-color: #F5E9CF;
  width: 200px;
  height: 200px;
}
.cards_buttom {
  width: 700px;
  background-color: #545B77;
  margin: 0 auto;

}

.project_info_middle {
  background-color: #5C8984;
  width: 300;

}

.project_info_right {
  background-color: #EAB2A0;
  width: 200px;
  height: 300 px;
  opacity: 0.9;
}
// .item {
//     font-family: "Open Sans";
//     font-weight:  "Bold 700";
// }
