<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="home.css">
  </head>

  <body>
  <div class="center">
   <h1 style= "color: #F5E9CF;">Maximise the efficiency of your projects</h1>
    <p style= "color: #EAB2A0;">MaxCapacity collates information from multiple organisational tools to present you with an overview of your teams capacity. Giving you a quick and easy insight into your team members workloads.</p>
    <button style= "background-color: #5C8984;">Sign Up</button>
    </div>
  </body>

</html>
