<%# <div style="margin: 0 auto; width: 80%;">
  <div class="row" style="height: 80vh;">
    <div class="col-6 homepage-info">
      <h1 style= "color: #F5E9CF; font-size: 55px; font-family: Inter;">Maximise the efficiency of your projects</h1>
      <br>
      <p style= "color: #EAB2A0; font-family: Inter;">MaxCapacity collates information from multiple organisational tools to present you with an overview of your teams capacity. Giving you a quick and easy insight into your team members workloads.</p>
      <br><%# <button style= "background-color: #5C8984; font_family: Inter;">Free trial</button> %>
<%#       <%= link_to "Free trial", new_user_registration_path, class: "button-style", style: "text-decoration: none;" %>
    <%# </div> %>

<div class="row" style="height: 80vh;">
  <div class="col-6 homepage-info">
    <h1 style= "color: #F5E9CF; font-size: 55px; font-family: Inter;">Maximise the efficiency of your projects</h1>
    <p style= "color: #EAB2A0; font-family: Inter;">MaxCapacity collates information from multiple organisational tools to present you with an overview of your teams capacity. Giving you a quick and easy insight into your team members workloads.</p>
    <%# <button style= "background-color: #5C8984; font_family: Inter;">Free trial</button> %>
    <% if user_signed_in? %>
      <%= link_to "Free trial", projects_path, class: "button-style", style: "text-decoration: none;" %>
    <% else %>
      <%= link_to "Free trial", new_user_registration_path, class: "button-style", style: "text-decoration: none;" %>
  <% end %>
  </div>

  <div class="col-6">
    <%= image_tag 'homepage.svg', alt: 'Cover design', class: 'w-100 h-100' %>
  </div>
</div>
