<div class="users-container">
<br>
<br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Plan</th>
        <th scope="col">Basic</th>
        <th scope="col">Premium</th>
        <th scope="col">Advanced</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Automizing Asana</th>
        <td class="text-center"><i class="fa-regular fa-circle-check"></i></td>
        <td class="text-center"><i class="fa-regular fa-circle-check"></i></td>
        <td class="text-center"><i class="fa-regular fa-circle-check"></i></td>
      </tr>
      <tr>
        <th scope="row">Automizing Trello</th>
        <td class="text-center"><i class="fa-regular fa-circle-check"></i></td>
        <td class="text-center"><i class="fa-regular fa-circle-check"></i></td>
        <td class="text-center"><i class="fa-regular fa-circle-check"></i></td>
      </tr>
      <tr>
        <th scope="row">Automizing Jira</th>
        <td class="text-center"><i class="fa-regular fa-circle-xmark"></i></td>
        <td class="text-center"><i class="fa-regular fa-circle-check"></i></td>
        <td class="text-center"><i class="fa-regular fa-circle-check"></i></td>
      </tr>
      <tr>
        <th scope="row">Automizing Slack</th>
        <td class="text-center"><i class="fa-regular fa-circle-xmark"></i></td>
        <td class="text-center"><i class="fa-regular fa-circle-check"></i></td>
        <td class="text-center"><i class="fa-regular fa-circle-check"></i></td>
      </tr>
      <tr>
        <th scope="row">24/7 support</th>
        <td class="text-center"><i class="fa-regular fa-circle-check"></i></td>
        <td class="text-center"><i class="fa-regular fa-circle-check"></i></td>
        <td class="text-center"><i class="fa-regular fa-circle-check"></i></td>
      </tr>
      <tr>
        <th scope="row">Custom setup</th>
        <td class="text-center"><i class="fa-regular fa-circle-xmark"></i></td>
        <td class="text-center"><i class="fa-regular fa-circle-check"></i></td>
        <td class="text-center"><i class="fa-regular fa-circle-check"></i></td>
      </tr>
      <tr>
        <th scope="row">White label API</th>
        <td class="text-center"><i class="fa-regular fa-circle-xmark"></i></td>
        <td class="text-center"><i class="fa-regular fa-circle-xmark"></i></td>
        <td class="text-center"><i class="fa-regular fa-circle-check"></i></td>
      </tr>
      <tr>
        <th scope="row">Real-time data</th>
        <td class="text-center"><i class="fa-regular fa-circle-xmark"></i></td>
        <td class="text-center"><i class="fa-regular fa-circle-xmark"></i></td>
        <td class="text-center"><i class="fa-regular fa-circle-check"></i></td>
      </tr>
      <tr>
        <th scope="row">Embedding info on your website</th>
        <td class="text-center"><i class="fa-regular fa-circle-xmark"></i></td>
        <td class="text-center"><i class="fa-regular fa-circle-xmark"></i></td>
        <td class="text-center"><i class="fa-regular fa-circle-check"></i></td>
      </tr>

    </tbody>
  </table>
</div>
