<div class="container">
  <div class="project-info">
    <div class="project_info_left"></div>
      <p>
      </p>
    <div class="project_info_middle"></div>
      <p>
      </p>
    </div>
    <div class="project_info_right"></div>
    <div class="capacity">
      <div class = "capacity_left"></div>
      <div class = "capacity_right"></div>
    </div>
    <div class="cards_bottom">
      <div class = "information-card"></div>
      <div class = "information-card"></div>
      <div class = "information-card"></div>
      <div class = "information-card"></div>
      <div class = "information-card"></div>
    </div>

    </div>
  </div>
</div>
