<div class="container">
  <%# <div class="main"> %>
    <div class="row">
      <%# <div class="projectinfoleft"> %>
        <div class="col-4">
        <%# <div class="item"> %>
            <h2>Project name</h2>
            <p>Deadline: 2002 0 2
            </p>gemmy<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked=""><label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label>
          <%# </div> %>
        </div>
      </div>
    <div class = "col-col-8"><div class="col-12">Project_info_middle</div></div>

    <div class = "col-12"><div class="col-12">Project_info_right</div></div>

    <div class="capacity">
      <div class="col-6 col-lg-6 bg-info"></div>
      <div class="col-6 col-lg-6 bg-warning"></div>
    </div>
    <div class="row">
    <div class= "p-1 border border-1 bg-secondary">
      <div class = "col-1"><img src="https://sebastien.saunier.me/images/sebastien_saunier.jpg" width="50" class="rounded-circle"></div>
      <div class = "col-1"><img src="https://sebastien.saunier.me/images/sebastien_saunier.jpg" width="50" class="rounded-circle"></div>
      <div class = "col-1"><img src="https://sebastien.saunier.me/images/sebastien_saunier.jpg" width="50" class="rounded-circle"></div>
      <div class = "col-1"><img src="https://sebastien.saunier.me/images/sebastien_saunier.jpg" width="50" class="rounded-circle"></div>
      <div class = "col-1"><img src="https://sebastien.saunier.me/images/sebastien_saunier.jpg" width="50" class="rounded-circle"></div>
    <%# </div> %>
    </div>
  <%# </div> %>
</div>
