<div class="container">
  <div class="main">
    <div class="projectinfo">
      <div class="projectinfoleft">
        <div class="col-2">
          <h2>Project name</h2>
          <p>Deadline: 2002 0 2
          </p>gem "sassc-rails"
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked=""><label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label>
        </div>
      </div>
      <div class="project_info_middle"></div>
      </div>
      <div class="project_info_right"></div>
    </div>
    <div class="capacity">
      <div class="capacity_left"></div>
      <div class="capacity_right"></div>
    </div>

      <div class= "row justify-content-md-center p-1">
        <div class = "col-1"><img src="https://sebastien.saunier.me/images/sebastien_saunier.jpg" width="100" class="rounded-circle"></div>
        <div class = "col-1"><img src="https://sebastien.saunier.me/images/sebastien_saunier.jpg" width="100" class="rounded-circle"></div>
        <div class = "col-1"><img src="https://sebastien.saunier.me/images/sebastien_saunier.jpg" width="100" class="rounded-circle"></div>
        <div class = "col-1"><img src="https://sebastien.saunier.me/images/sebastien_saunier.jpg" width="100" class="rounded-circle"></div>
        <div class = "col-1"><img src="https://sebastien.saunier.me/images/sebastien_saunier.jpg" width="100" class="rounded-circle"></div>
      </div>
  </div>
</div>
