
.sub-heading{
  color: white;
  font-family: 'Jost', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }

  .form-heading {
  color: white;
  font-family: 'Jost', sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  }

  .description {
  color: #F5E9CF;
  font-family: 'Jost', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }

  .sub-title {
  color: white;
  font-family: 'Jost', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }

  .capacity-font {
    color: white;
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    font-style: bold;
    font-weight: 400;
    line-height: normal;
  }

  .projects-font {
    color: #374259;
    font-family: 'Jost', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 40px;
  }

  .small-title {
  color: white;
  font-family: 'Jost', sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  }

  .small-title-2 {
    color: rgb(230, 230, 230);
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    }

  .small-titley {
    color: rgb(230, 230, 230);
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 0px;
    }
