.form-new {
  border-style: none;
}

.form-new h1 {
  color: #F5E9CF;
}

.form-label, .col-form-label {
  color: #F5E9CF;
}

.form-control, .form-select {
  // border-style: inherit;
  border-radius: 20px;
  background-color: #DDDDDD;
}
