.form-new {
  border-style: none;
  background-color: #545B77;
  padding: 30px;
  min-height: 100vh;
  width: 800px;
  margin: 0 auto;
    h1 {
      color: white;
      padding-bottom: 10px;
    }
    p {
      color: white;
      text-decoration: none;
    }

}

.form-label, .col-form-label {
  color: white;
  font-size: 16px;
}

.form-control, .form-select {
  // border-style: inherit;
  border-radius: 20px;
  background-color: #DDDDDD;
}

.select-member {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}

.fa-plus {
  color: white;
    &:hover {
      color: #5C8984;
    }
}

.form-check-input.is-valid ~ .form-check-label {
  color: white;
}

.form-check-label ~ .collection_check_boxes {
  color: white;
}

.form-check {
  color: white;
}
