.icon-bar {
  width: 100%;
  display: flex;
  overflow: auto;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  // margin-left: 60px;
  h4 {
    text-align: left;
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-family: 'Jost', sans-serif;
    border-bottom: 2px solid #545b77;
    &:hover {
      color: white;
      border-bottom: 2px solid #eab2a0;
    }
  }
}

.icon-link {
  text-decoration: none;
  display: flex;
  align-items: left;
  margin: 8px;
}

.create-new:hover {
  font-weight: bolder;
  justify-content: space-between;
}

.edit-pc {
  display: flex;
  justify-content: space-between;
}
.edit-pc:hover {
  box-shadow: 3px 3px #eab2a0;
}
