.navbar-lewagon {
  justify-content: space-between;
  background: rgb(55, 66, 89);
  // font-family: 'Jost', sans-serif;
  padding: 0px 30px 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  h4 {
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    color: #f5e9cf;
  }
  i {
    font-size: 25px;
    color: #f5e9cf;
  }
}

.avatar {
  i {
    font-size: 20px;
    text-decoration: none;
    color: #DDDDDD;
    text-decoration: none;
  }
  a {
    text-decoration: none;
  }
}

#dropdown-menu {
  border: solid 1px;
  border-radius: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 5px;
  border-color: #DDDDDD;
  text-decoration: none;
  a {
    text-decoration: none;
  }
}

.navbar-menu-option {
  text-decoration: none;
  display: inline;
  background-color: #DDDDDD;

}

.dropdown-menu {
  border-radius: 20px;
  background-color: #f5e9cf;
  overflow: visible;
}

.dropdown-item {
  color: #374259;
  background-color: #f5e9cf;
  border-radius: 20px;

  &:hover {
    background-color: #f5e9cf;
    color: #374259;
    font-weight: bold;
    border-radius: 20px;
  }
}
