.project-card {
  border-radius: 30px;
}

.card-for-project {
  margin: 16px;
  text-decoration: none;
  height: 300px;
  width: 350px;
  border-radius: 10%;
  padding: 10px;
  text-align: center;
  background-color: #374259;
  &:hover {
    box-shadow: 6px 6px #eab2a0;
  }
  h2 {
    color: #fcfbfa;
    padding-top: 5px;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
  }
  i {
    font-size: 20px;
  }
  p {
    text-align: center;
    color: #fffdfd;
    font-size: 16px;
  }
}

#dropdownMenuButton {
  padding: 0 10px;
  margin-top: 5px;
  i {
    color: white;
    padding: 2px;
  &:hover {
    color: #eab2a0;
  }
  }
}
